<p id="notice"><%= notice %></p>

<h1>Listing Staffs</h1>
<table>
  <thead>
    <tr>
      <th class = "list_title">Staff</th>
      <th class = "list_title">Actions</th>
    </tr>
  </thead>

    <% @staffs.each do |staff| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_name"><%= staff.staff_name %></td>
        <td class = "list_actions">
          <%= link_to 'Show', staff %>
        <%= link_to 'Edit', edit_staff_path(staff) %>
        <%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Staff', new_staff_path %>
