<table class="CSSTableGenerator" width="30%">
  <th>Period</th>
  <th>Balance</th>
  <th>Payment</th>
  <% @finance_array.each_with_index do |p,n|  %>
      <tr>
        <td><%= n + 1 %></td>
        <td><%= p.round(2) %></td>
        <td><%= Finance.pmt.round(2)%></td>
      </tr>
  <% end %>

</table>

