$('#finance_table').html("<%= j (render 'finance') %>")

//Jquery selector for where to put stuff when you're done i.e growth-table
//.html means take what give you and treat it as html
//render population_table renders the table
//you have to tell the .erb that this is javascript so that's what the 'j' is for
//at this 'j' it "escapes" the javascript