<p id="notice"><%= notice %></p>

<h1>Listing Finances</h1>

<table>
  <thead>
    <tr>
      <th class = "list_title">Loan</th>
      <th class = "list_title">Interest</th>
      <th class = "list_title">Term</th>
      <th class = "list_title">Actions</th>
    </tr>
  </thead>


    <% @finances.each do |finance| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_loan"><%= number_to_currency(finance.loan, :unit => "$", :delimeter => ".") %></td>
        <td class = "list_interest"><%= number_with_precision(finance.interest, precision: 2) %></td>
        <td class = "list_term"><%= finance.term %></td>
        <td class = "list_actions">
          <%= link_to 'Show', finance %>
        <%= link_to 'Edit', edit_finance_path(finance) %>
        <%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
