<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @finance.loan %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @finance.interest %>
</p>

<p>
  <strong>Term:</strong>
  <%= @finance.term %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
