<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wholesale %><br>
    <%= f.text_field :wholesale %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :principle %><br>
    <%= f.text_field :principle %>
  </div>
  <div class="field">
    <%= f.label :status, "Sold" %><br>
    <%= f.check_box :status, :as => :check_boxes, collection: [['Pending', 'Sold']] %>
  </div>
  <div class="field">
    <%= f.label :staff_id, "Salesperson" %><br>
    <%= f.collection_select(:staff_id, Staff.all, :id, :staff_name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :customer_name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.collection_select(:car_id, Car.all, :id, :VIN, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
