<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th class = "list_title">Wholesale</th>
      <th class = "list_title">Markup</th>
      <th class = "list_title">Interest</th>
      <th class = "list_title">Principle</th>
      <th class = "list_title">Total</th>
      <th class = "list_title">Status</th>
      <th class = "list_title">Staff</th>
      <th class = "list_title">Customer</th>
      <th class = "list_title">Car</th>
      <th class = "list_title">Actions</th>
    </tr>
  </thead>

    <% @quotes.each do |quote| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_wholesale"><%= number_to_currency(quote.wholesale, :unit => "$", :delimeter => ".") %></td>
        <td class = "list_markup"><%= number_to_currency(quote.markup_calc, :unit => "$", :delimeter => ".") %></td>
        <td class = "list_interest"><%= number_with_precision(quote.interest, precision: 2) %></td>
        <td class = "list_principle"><%= number_to_currency(quote.principle, :unit => "$", :delimeter => ".") %></td>
        <td class = "list_total"><%= number_to_currency(quote.total_calc, :unit => "$", :delimeter=> ".") %></td>
        <td class = "list_status"><%= quote.status_value %></td>
        <td class = "list_staff"><%= quote.staff.staff_name %></td>
        <td class = "list_customer"><%= quote.customer.customer_name %></td>
        <td class = "list_car"><%= quote.car.VIN %></td>

        <td class = "list_actions">
        <%= link_to 'Show', quote %>
        <%= link_to 'Edit', edit_quote_path(quote) %>
        <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>


  </table>
<br>
<br>

<th><b>Total Gross Revenue = </b></th> <td><%= number_to_currency(Quote.profit, :unit => "$", :delimeter => ".") %></td><br>
   <th><b> Net Profit = </b></th> <td><%= number_to_currency(Quote.markupsale, :unit => "$", :delimeter => ".") %></td><br>
<th><b>Sales Tax Totals = </b></th> <td><%= number_to_currency(Quote.taxrev, :unit => "$", :delimeter => ".") %></td>



<br>

<%= link_to 'New Quote', new_quote_path %>
