<p id="notice"><%= notice %></p>

<p>
  <strong>Wholesale:</strong>
  <%= number_to_currency(@quote.wholesale, :unit => "$", :delimeter => ".") %>
</p>

<p>
  <strong>Markup:</strong>
  <%= number_to_currency(@quote.markup_calc, :unit => "$", :delimeter => ".") %>
</p>

<p>
  <strong>Interest:</strong>
  <%= number_with_precision(@quote.interest, precision: 2) %>
</p>

<p>
  <strong>Principle:</strong>
  <%= number_to_currency(@quote.principle, :unit => "$", :delimeter => ".") %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@quote.total_calc, :unit => "$", :delimeter => ".") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status_value %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.staff.staff_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.customer_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.VIN %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
