<h1>Please Log in</h1>
<p>Enter username and password related to department</p>

<%= form_tag("/session/authenticate", method: "post") do %>
<p> Username: <%= text_field_tag "username" %></p>
<p> Password: <%= text_field_tag "password" %></p>
<p> <%= submit_tag "login" %></p>
<% end %>