<p id="notice"><%= notice %></p>

<h1>Listing States</h1>

<table>
  <thead>
    <tr>
      <th class = "list_title">State Name</th>
      <th class = "list_title">Actions</th>
    </tr>
  </thead>

    <% @states.each do |state| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_state"><%= state.state_name %></td>
        <td class = "list_actions">
          <%= link_to 'Show', state %>
        <%= link_to 'Edit', edit_state_path(state) %>
        <%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>

<br>

<%= link_to 'New State', new_state_path %>
