<script type="text/javascript" >
  <!-- function refresh(){
      location.reload();
  } -->
</script>
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name, "Customer Name" %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :state_id, "Customer State" %><br>
    <%= f.collection_select(:state_id, State.all, :id, :state_name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
