<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th class = "list_title ">Customer name</th>
      <th class = "list_title">State</th>
      <th class= "list_title">Actions</th>
    </tr>
  </thead>

      <% @customers.each do |customer| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_name"><%= customer.customer_name %></td>
        <td class = "list_status"><%= customer.state.state_name %></td>
        <td class = "list_actions">
        <%= link_to 'Show', customer %>
        <%= link_to 'Edit', edit_customer_path(customer) %>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
