<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state.state_name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
