// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.finances{
  table{
    margin: 0px;
    padding: 0px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  table tr td{
    padding: 1px;
    vertical-align: top;
  }

  .list_title{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family:Times New Roman;
    font-weight: bold;
    color:#ffffff;
    background:#005fbf;

  }
  .list_loan{
    width: 50px;
    height: 10px;
  }

  .list_interest{
    width: 30px;
    height:10px;
  }

  .list_term{
    width: 50px;
    height: 10px;
  }

  .list_actions{
    font-size: x-small;
    text-align: center;
  }

  .list_line_even{
    background-color: #ffffff;
  }

  .list_line_odd{
    background-color: #aad4ff;
  }

  p{
    text-shadow: 1px 1px #27284d;
  }

  .field {
    background-color: lightblue;
    border-style: solid;
    border-color: lightblue;
    border: 0px 4px 0px 4px;
    padding: 1px 6px 1px 6px;

    :focus{
      border-style: solid;
      border-color: black;
    }
  }
  }


  // Place all the styles related to the GrowthCalculators controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/
  .CSSTableGenerator {
    margin:0px;padding:0px;
    width:40%;	box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
  }.CSSTableGenerator table{
     width:100%;
     height:100%;
     margin:0px;padding:0px;
   }.CSSTableGenerator tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
    }
  .CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
  }
  .CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
  }.CSSTableGenerator tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
   }.CSSTableGenerator tr:hover td{

    }.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
  .CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
  .CSSTableGenerator td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:arial;
    font-weight:normal;
    color:#000000;
  }.CSSTableGenerator tr:last-child td{
     border-width:0px 1px 0px 0px;
   }.CSSTableGenerator tr td:last-child{
      border-width:0px 0px 1px 0px;
    }.CSSTableGenerator tr:last-child td:last-child{
       border-width:0px 0px 0px 0px;
     }
  .CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
  }
  .CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
    background-color:#005fbf;
  }
  .CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
  }
  .CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
  }


