// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.states{
  table{
    margin: 0px;
    padding: 0px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  table tr td{
    padding: 1px;
    vertical-align: top;
  }

  .list_title{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family:Times New Roman;
    font-weight: bold;
    color:#ffffff;
    background:#005fbf;

  }
  .list_state{
    width: 50px;
    height: 10px;
  }


  .list_actions{
    font-size: x-small;
    text-align: center;
  }

  .list_line_even{
    background-color: #ffffff;
  }

  .list_line_odd{
    background-color: #aad4ff;
  }

  p{
    text-shadow: 1px 1px #27284d;
  }

  .field {
    background-color: lightblue;
    border-style: solid;
    border-color: lightblue;
    border: 0px 4px 0px 4px;
    padding: 1px 6px 1px 6px;

    :focus{
      border-style: solid;
      border-color: black;
    }
  }
}