<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>


<table>
  <thead>
  <tr>
  <th class = "list_title">Car Model</th>
    <th class = "list_title">Car Color</th>
    <th class = "list_title">Car VIN</th>
    <th class = "list_title">Actions</th>
  </tr>
  </thead>
  <% @cars.each do |car| %>
      <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "list_model">
            <%=car.model%>
        </td>
        <td class = "list_color">
            <%= car.color %>
        </td>
        <td class = "list_vin">
            <%= car.VIN %>
        </td>
        <td class = "list_actions">

        <%= link_to 'Show', car %>
        <%= link_to 'Edit', edit_car_path(car) %>
        <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
</table>


<br>

<%= link_to 'New Car', new_car_path %>
