<!DOCTYPE html>
<html>

<head>
  <title>Rails Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div id = "heading">
  <%= link_to "Cars", cars_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Quotes", quotes_path %>
  <%= link_to "Staff", staffs_path %>
  <%= link_to "States", states_path %>
  <%= link_to "Finance", finances_path %>
</div>

<body class = '<%= controller.controller_name %>'>

<div>
  <% unless session[:user].nil? %>
    <h1> Welcome <%= session[:user] %></h1>
      <p> <%= link_to "Log out",session_logout_path%></p>
      <% end %>
</div>
<%= yield %>
</body>
</html>


